*{
    box-sizing: border-box;
    font-family: "Apple Chancery";

}

.col-1 {width: 100%; height:100px; float: left; background-color: whitesmoke;}
.navigation{width:100%; height:50px; float:left;}
.col-2 {width: 100%; height:600px; float: left; background-color: lightcyan;}
.col-2-1{width: 33.33%; height:550px;float: left;overflow-y: scroll}
.col-2-2{width: 33.33%; height:550px;float: left;}
.col-2-3{width: 33.33%; height:550px; float: left;overflow-y: scroll}
.col-3 {width: 100%; height: 500px;  float: left;  background-color:darkturquoise;}
.col-3-1{width: 20%; height: 450px; float: left; overflow-y: scroll}
.col-3-2{width: 20%; height: 450px;float: left;}
.col-3-3{width: 20%; height: 450px; float: left;overflow-y: scroll}
.col-3-4{width: 20%; height: 450px; float: left;overflow-y: scroll}
.col-3-5{width: 20%; height: 450px; float: left;}
.col4 {width: 100%; height: 100px;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.active{
    color: white;
}

.navigation li a {
    float: left;
    text-decoration: none;
}

.navigation a {
    display: block;
    padding: 8px;
    background-color: black;
}

.navigation li a:hover {
    background-color: darkturquoise;
}
img{
    width: 100%;
}

.intrinsic-container {
    position: relative;
    overflow: hidden;
    width: 33.33%;
    height:590px;
    float: left;
}


.intrinsic-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width:500px){
    [class*='col-']{
        width:100%;
        height: auto;
        overflow-y: scroll
    }
    body{
        background: mediumpurple;
    }
    img{
        width: 100%;
        height: auto;

    }
    .intrinsic-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 500px;
        float: left;
    }
    .col4{width: 100%; height: 100px; bottom: 0;}


}
